@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nghệ Nhân</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            SortName();
        });
        function SortName() {

            $.ajax({
                url: `https://localhost:44336/api/nghenhan/`,
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    console.log(response);
                },
                success: function (reponse) {
                    reponse.sort(function (a, b) {
                        var nameA = a.Tennghenhan.toUpperCase(); // Chuyển tên thành chữ in hoa để sắp xếp
                        var nameB = b.Tennghenhan.toUpperCase(); // Chuyển tên thành chữ in hoa để sắp xếp
                        if (nameA < nameB) {
                            return -1;
                        }
                        if (nameA > nameB) {
                            return 1;
                        }
                        return 0;
                    });

                    const len = reponse.length;
                    console.log(reponse);
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<tr>';
                        table = table + '<td>' + reponse[i].MaNN + '</td>';
                        table = table + '<td>' + reponse[i].Tennghenhan + '</td>';
                        table = table + '<td>' + reponse[i].Thongtin + '</td>';
                        table = table + '<td>' + reponse[i].Username + '</td>';
                        table = table + '<td>' + '<img style="width:170px; height:140px;" src="../Image/' + reponse[i].AnhNN + '">' + '</td>';
                        table = table + '</tr>';
                    }
                    $('#allSort').html(table);
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            GetAllNghenhan();
        });
        function GetAllNghenhan() {
            $.ajax({
                url: 'https://localhost:44336/api/nghenhan/',
                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) { },
                success: function (reponse) {
                    const len = reponse.length;
                    console.log(reponse);
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<tr>';
                        table = table + '<td>' + reponse[i].MaNN + '</td>';
                        table = table + '<td>' + reponse[i].Tennghenhan + '</td>';
                        table = table + '<td>' + reponse[i].Thongtin + '</td>';
                        table = table + '<td>' + reponse[i].Username + '</td>';
                        table = table + '<td>' + '<img style="width:170px; height:140px;" src="../Image/' + reponse[i].AnhNN + '">' + '</td>';
                        table = table + '</tr>';
                    }
                    document.getElementById('allNN').innerHTML = table;
                },
                fail: function (response) { }
            });
        }
    </script>

    <script type="text/javascript">
        //Hàm lấy Thêm mới Khách hàng. Dùng $.ajax() thực hiện method HTTPPOST
        function insertKhachHang() {
            var url = 'https://localhost:44336/api/nghenhan?id=' + $('input').eq(0).val() +
                '&name=' + $('input').eq(1).val() + '&thongtin=' + $('input').eq(2).val() +
                '&username=' + $('input').eq(3).val() + '&anhnn=' + $('input').eq(4).val();
            $.ajax({
                url: url,
                method: 'POST',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    alert("Thêm mới không thành công");

                },
                success: function (reponse) {
                    alert("Thêm mới thành công");
                    GetAllNghenhan();
                    SortName();
                }
            });
        }
    </script>

    <script>
        function UpdateDL() {
            var mann = $("#txtsuama").val();
            var tennn = $("#txtsuaten").val();
            var thongtin = $("#txtsuathongtin").val();
            var username = $("#txtsuausername").val();
            var anhnn = $("#txtsuaanhnn").val();

            if (mann && tennn && thongtin && username && anhnn) {
                var url = 'https://localhost:44336/api/nghenhan?id=' + mann + '&name=' + tennn +
                    '&thongtin=' + thongtin + '&username=' + username + '&anhnn=' + anhnn;
                $.ajax({
                    url: url,
                    method: 'PUT',
                    contentType: 'json',
                    dataType: 'json',
                    error: function (response) {
                        alert("Sửa không thành công");
                    },
                    success: function (reponse) {
                        alert("Sửa thành công");
                        GetAllNghenhan();//Gọi đến hàm lấy dữ liệu lên bảng
                        SortName();
                    }
                });
            } else {
                alert("Vui lòng nhập đầy đủ thông tin ");
            }
        }
    </script>
    <script>
        function DeleteDL() {
            var maDL = $('#txtxoa').val(); // Lấy mã đại lý từ input
            if (maDL) { // Nếu mã đại lý không rỗng
                $.ajax({
                    url: 'https://localhost:44336/api/nghenhan/' + maDL, // Đường dẫn tới API xóa đại lý với mã tương ứng
                    type: 'DELETE',
                    success: function (result) {
                        alert('Xóa sách thành công!');
                        GetAllNghenhan();
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert('Vui lòng nhập mã của nghệ nhân cần xóa!');
            }
        }
    </script>

    <script type="text/javascript">
        function timnn() {
            var name = $('#txtnntimkiem').val();
            $.ajax({
                url: `https://localhost:44336/api/nghenhan/SearchNghenhanByName/${name}`,

                method: 'GET',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    console.log(response);
                },
                success: function (reponse) {
                    const len = reponse.length;
                    console.log(reponse);
                    let table = '';
                    for (var i = 0; i < len; ++i) {
                        table = table + '<tr>';
                        table = table + '<td>' + reponse[i].MaNN + '</td>';
                        table = table + '<td>' + reponse[i].Tennghenhan + '</td>';
                        table = table + '<td>' + reponse[i].Thongtin + '</td>';
                        table = table + '<td>' + reponse[i].Username + '</td>';
                        table = table + '<td>' + '<img style="width:170px; height:140px;" src="../Image/' + reponse[i].AnhNN + '">' + '</td>';
                        table = table + '</tr>';
                    }
                    $('#allNN').html(table);
                }
            });
        }
    </script>

    <link href="~/assets/css/mainAdmin.css" rel="stylesheet" />
</head>
<body>
    <div class="top-section" style="display: inline-flex;">
        <div class="col-12 col-lg-6" style="display: inline-block;">
            <div class="logo" style="display: inline-block;">
                <a href="index.html"><img src="~/assets/img/home/logophongtra.png" /></a>
            </div>
        </div>
        <div class="col-12 col-lg-6" style="display: inline-block;">
            <a class=" btn btn-danger rounded" href="@Url.Action("Trangchu", "Tra")">Home</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Sanpham", "Default")">Sản phẩm</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Khachhang", "Default")">Khách hàng</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Hoadon", "Default")">Hóa đơn</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Tintuc", "Default")">Tin tức</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Nghenhan", "Default")">Nghệ nhân</a>
            <a class=" btn btn-danger rounded" href="@Url.Action("Dactinh", "Default")">Đặc tính</a>
        </div>

    </div>
    <div class="main-content-wrapper d-flex clearfix">
        <div class="col-12 col-lg-4">
            <div class="book">
                <div class="col">
                    <table class="table" style="border:none">
                        <tbody class="form-control">
                            <tr>
                                <td style="width:150px">Mã NN: </td>
                                <td>
                                    <input style="width:250px; height:30px;" id="txtMK" type="text" name="MaKhach" placeholder="Mã NN" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30px">Tên NN: </td>
                                <td>
                                    <input style="width:250px; height:30px;" type="text" name="TenKhach" placeholder="Tên NN" />
                                </td>
                            </tr>
                            <tr>
                                <td>Thông tin: </td>
                                <td>
                                    <input style="width:250px; height:30px;" type="text" name="DiaChi" placeholder="Thông tin" />
                                </td>
                            </tr>
                            <tr>
                                <td>Username: </td>
                                <td>
                                    <input style="width:250px; height:30px;" id="txtDT" type="text" name="DienThoai" placeholder="Username Admin" />
                                </td>
                            </tr>
                            <tr>
                                <td>Ảnh NN: </td>
                                <td>
                                    <input style="width:250px; height:30px;" id="txtDT" type="text" name="DienThoai" placeholder="Ảnh NN" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-danger rounded" style="background-color: forestgreen; width: 70px; height: 50px;"
                                            onclick="insertKhachHang();">
                                        Thêm mới
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table" style="border:none">
                        <tbody class="form-control">
                            <tr>
                                <td style="width:200px">Mã NN cần sửa: </td>
                                <td>
                                    <input id="txtsuama" style="width:250px; height:30px;" type="text" name="MaKhach" placeholder="Mã NN" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:30px">Tên NN sửa: </td>
                                <td>
                                    <input id="txtsuaten" style="width:250px; height:30px;" type="text" name="TenKhach" placeholder="Tên NN" />
                                </td>
                            </tr>
                            <tr>
                                <td>Thông tin sửa: </td>
                                <td>
                                    <input id="txtsuathongtin" style="width:250px; height:30px;" type="text" name="DienThoai" placeholder="Thông tin" />
                                </td>
                            </tr>
                            <tr>
                                <td>Username sửa: </td>
                                <td>
                                    <input id="txtsuausername" style="width:250px; height:30px;" type="text" name="DiaChi" placeholder="Username Admin" />
                                </td>
                            </tr>
                            <tr>
                                <td>Ảnh NN sửa: </td>
                                <td>
                                    <input id="txtsuaanhnn" style="width:250px; height:30px;" type="text" name="DienThoai" placeholder="Ảnh NN" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-danger rounded" style="background-color: forestgreen; width: 70px; height: 50px;"
                                            onclick="UpdateDL();">
                                        Sửa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table">
                        <tbody class="form-control">
                            <tr>
                                <td style="width:150px">Mã NN: </td>
                                <td>
                                    <input id="txtxoa" type="text" name="MaKhach" placeholder="Mã NN" />
                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <button class="btn btn-danger rounded" style="background-color:forestgreen"
                                            onclick="DeleteDL();">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table" style="border:none">
                        <tbody class="form-control">
                            <tr>
                                <td>Tên NN cần tìm kiếm: </td>
                                <td>
                                    <input id="txtnntimkiem" type="text" name="MaKhach" placeholder="Tên NN" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-danger rounded" style="background-color:forestgreen"
                                            onclick="timnn();">
                                        Tìm
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <h3 style="text-align:center;">Danh Sách Nghệ Nhân</h3>
            <table id="tSach" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã NN</th>
                        <th>Tên NN</th>
                        <th>Thông tin</th>
                        <th>Username Admin</th>
                        <th>Ảnh NN</th>
                    </tr>
                </thead>
                <tbody id="allNN"></tbody>
            </table>
        </div>
    </div>
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="~/Amado/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Amado/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Amado/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Amado/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Amado/js/active.js"></script>
</body>
</html>

